<div *ngIf="showdialog">
    <b>EMPLOYEE DETAILS</b>
    <br/>
    <br/>
    <div class="row" style="padding: 5px;">
        <div class="col-md-6">
            <label> Employee Name:</label>
        </div>
        <div class="col-md-6">
            <input [(ngModel)]="employee.name" placeholder=" enter name ">
        </div>
    </div>
    <div class="row" style="padding: 5px;">
        <div class="col-md-6">
            <label> Contact No:</label>
        </div>
        <div class="col-md-6">
            <input [(ngModel)]="employee.contact" placeholder=" enter contact ">
        </div>
    </div>
    <div class="row" style="padding: 5px;">
        <div class="col-md-6">
            <label> Designation:</label>
        </div>
        <div class="col-md-6">
            <input [(ngModel)]="employee.designation" placeholder=" enter designation ">
        </div>
    </div>
    <br/>
    <div class="row" style="padding: 5px;">
        <div class="">
            <button (click) = "addemployee(employee); employee.name = ''; employee.contact =''; employee.designation=''">Save</button>
        </div>
    </div>
</div>
