<div class="row">
    <h3>{{Heading}}</h3>
</div>
<div class="row">
    <div class="col-md-6">
        <ul class="employees">
            <li *ngFor="let employee of EmployeeList">
                <a routerLink="/detail/{{employee.id}}">
                    <span class="badge">{{employee.id}}</span> {{employee.name}} &nbsp; &nbsp; {{employee.contact}} &nbsp; &nbsp; {{employee.designation}}
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <button type="button" (click) = "toggleAddEmployee()" >{{toggleEmployee}}</button>
        <br/><br/>
        <div><app-add-employee (newEmployee)="OnAddEmployee($event)" [showdialog] = "ShowAddEmployeeDialog" ></app-add-employee></div>
        
    </div>
</div>